/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background-color: #f5b240;
	padding: 40px; 
	background-image: url(Unknown-1.jpeg);
	background-repeat:no-repeat;
	background-size: cover;
}

body {
	font-family: Verdana, sans-serif;
	width: 70%;
	margin: 0 auto;
	padding: 20px 40px;
	border: 10px double #000000;
}

header{
	color: #fff;
	padding: 50px;
	border: 10px double #fff;
}

header h1 {
	font-size: 46px;
	color: #fff;
}

nav ul {
	list-style:none;
	margin-left:0;
	padding-left: 0px;

}

nav li {
	display:inline;
	padding-right: 50px;
}
header a:link {color: #fff;}
header a:visited {color: #fff;}
header a:hover {color: blue;}
header a:focus {color: #fff;}
header a:active {color: green;}

table {
	width: 100%;
}

thead th {
	border-bottom: 5px solid #fff;
	text-align: left;
	color: #fff;
}

th,
td {
	padding: 5px 0;
}

tbody tr {
	
}

tbody tr:nth-child(even) {
	background-color: #d9ceb0
}

a:link {color: #000000;}
a:visited {color: #000000;}
a:hover {color: #aba8a1;}
a:focus {color: #dfc499;}
a:active {color: #000000;}

